@-webkit-keyframes flicker {
  0% { opacity: 0.75; }
  10% { opacity: 0.7; }
  20% { opacity: 0.65; }
  30% { opacity: 0.7; }
  40% { opacity: 0.75; }
  50% { opacity: 0.65; }
  60% { opacity: 0.75; }
  70% { opacity: 0.72; }
  80% { opacity: 0.65; }
  90% { opacity: 0.72; }
  100% { opacity: 0.7; }
}
.flicker {
  -webkit-animation-name: flicker;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

body {
	background: -webkit-radial-gradient(center center, contain, rgba(0,150,0,1), black) center center no-repeat, black;	
  -webkit-background-size: 110% 100%;
  	height: 100%;
	font-family: Inconsolata, monospace;
	font-size: 14px;
	text-shadow: 0 0 5px #C8C8C8;
	color: #FFF;
}
#screen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("http://www.htmlfivewow.com/demos/terminal/interlace.png") top left repeat, rgba(255,255,255,0.5);
	opacity: 0.2;
    z-index: 10;
}
#content {
	margin: 20px;
}
span {
	font-size: inherit;
	position: relative;
	top: 1px;
}
input {
	background: transparent;
	width: 90%;
	border: none;
	outline: none;
	margin: 0px;
	position: relative;
	bottom: 1px;
	right: 1px;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	text-shadow: inherit;
}
.commandStart {
	color: #ffcc00;		
}
.list {
	margin-left: 20px;
	color:#0CF;	
}
.orange {
	color: #ffcc00;	
}
